In [1]:
import pandas as pd
import os
from pathlib import Path
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [3]:
ANALYSIS_PATH = Path(os.getcwd())
ROOT_PATH = ANALYSIS_PATH.parent
SRC_PATH = ROOT_PATH.joinpath('src')
TRAIN_DATA_PATH = ROOT_PATH.joinpath('data').joinpath('electricity')

In [4]:
file = '2015_3_ActualTotalLoad.xlsx'
filepath = TRAIN_DATA_PATH.joinpath(file)

## Questions:
- What do we want to predict?
    - One country/area?
    - A few countries/areas?
    - All countries/areas?
    - Aggregates? Europe?
- Can a NN account for different countries/cat vars for time series traces
- Do we manually download test data
    - API?
- When they say data wrangling, do they mean more so engineering? ie manipulating the data files to a usable format for modelling?

In [5]:
xl_file = pd.ExcelFile(filepath)
df = xl_file.parse(file.split('.')[0] + '.csv')
df

,Year,Month,Day,DateTime,ResolutionCode,areacode,AreaTypeCode,AreaName,MapCode,TotalLoadValue,UpdateTime
0,2015.0,3.0,5.0,2015-03-05 07:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,1179.6,2017-09-14 04:01:02
1,2015.0,3.0,5.0,2015-03-05 11:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,1144.9,2017-09-14 04:01:02
2,2015.0,3.0,5.0,2015-03-05 15:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,1100.6,2017-09-14 04:01:02
3,2015.0,3.0,5.0,2015-03-05 19:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,1071.3,2017-09-14 04:01:02
4,2015.0,3.0,5.0,2015-03-05 23:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,816.0,2017-09-14 04:01:02
...,...,...,...,...,...,...,...,...,...,...,...
132636,2015.0,3.0,30.0,2015-03-30 04:00:00,PT60M,10YCA-BULGARIA-R,CTY,Bulgaria,BG,4568.0,2017-09-14 04:17:28
132637,2015.0,3.0,30.0,2015-03-30 08:00:00,PT60M,10YCA-BULGARIA-R,CTY,Bulgaria,BG,4713.0,2017-09-14 04:17:28
132638,2015.0,3.0,30.0,2015-03-30 12:00:00,PT60M,10YCA-BULGARIA-R,CTY,Bulgaria,BG,4350.0,2017-09-14 04:17:28
132639,2015.0,3.0,30.0,2015-03-30 16:00:00,PT60M,10YCA-BULGARIA-R,CTY,Bulgaria,BG,4886.0,2017-09-14 04:17:28
132640,2015.0,3.0,30.0,2015-03-30 20:00:00,PT60M,10YCA-BULGARIA-R,CTY,Bulgaria,BG,4450.0,2017-09-14 04:17:28

In [60]:
df.head(20)

,Year,Month,Day,DateTime,ResolutionCode,areacode,AreaTypeCode,AreaName,MapCode,TotalLoadValue,UpdateTime
0,2015.0,3.0,5.0,2015-03-05 07:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,1179.6,2017-09-14 04:01:02
1,2015.0,3.0,5.0,2015-03-05 11:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,1144.9,2017-09-14 04:01:02
2,2015.0,3.0,5.0,2015-03-05 15:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,1100.6,2017-09-14 04:01:02
3,2015.0,3.0,5.0,2015-03-05 19:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,1071.3,2017-09-14 04:01:02
4,2015.0,3.0,5.0,2015-03-05 23:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,816.0,2017-09-14 04:01:02
5,2015.0,3.0,5.0,2015-03-05 03:00:00,PT60M,10Y1001A1001A39I,CTY,Estonia,EE,843.8,2017-09-14 04:01:02
6,2015.0,3.0,5.0,2015-03-05 07:00:00,PT60M,10Y1001A1001A39I,CTY,Estonia,EE,1179.6,2017-09-14 04:01:02
7,2015.0,3.0,5.0,2015-03-05 11:00:00,PT60M,10Y1001A1001A39I,CTY,Estonia,EE,1144.9,2017-09-14 04:01:02
8,2015.0,3.0,5.0,2015-03-05 15:00:00,PT60M,10Y1001A1001A39I,CTY,Estonia,EE,1100.6,2017-09-14 04:01:02
9,2015.0,3.0,5.0,2015-03-05 19:00:00,PT60M,10Y1001A1001A39I,CTY,Estonia,EE,1071.3,2017-09-14 04:01:02
10,2015.0,3.0,5.0,2015-03-05 23:00:00,PT60M,10Y1001A1001A39I,CTY,Estonia,EE,816.0,2017-09-14 04:01:02
11,2015.0,3.0,5.0,2015-03-05 09:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,1151.8,2017-09-14 04:01:02
12,2015.0,3.0,5.0,2015-03-05 13:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,1116.8,2017-09-14 04:01:02
13,2015.0,3.0,5.0,2015-03-05 17:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,1152.9,2017-09-14 04:01:02
14,2015.0,3.0,5.0,2015-03-05 21:00:00,PT60M,10Y1001A1001A39I,BZN,Elering BZ,EE,912.5,2017-09-14 04:01:02
15,2015.0,3.0,5.0,2015-03-05 01:00:00,PT60M,10Y1001A1001A39I,CTY,Estonia,EE,796.9,2017-09-14 04:01:02
16,2015.0,3.0,5.0,2015-03-05 05:00:00,PT60M,10Y1001A1001A39I,CTY,Estonia,EE,1063.4,2017-09-14 04:01:02
17,2015.0,3.0,5.0,2015-03-05 09:00:00,PT60M,10Y1001A1001A39I,CTY,Estonia,EE,1151.8,2017-09-14 04:01:02
18,2015.0,3.0,5.0,2015-03-05 13:00:00,PT60M,10Y1001A1001A39I,CTY,Estonia,EE,1116.8,2017-09-14 04:01:02
19,2015.0,3.0,5.0,2015-03-05 17:00:00,PT60M,10Y1001A1001A39I,CTY,Estonia,EE,1152.9,2017-09-14 04:01:02

## DQ Checklist
- Check Colnames
- Check Coltypes
---
- Check Number of NaNs
- Check year month day lines up with datetime
- Check cat var names compare w website?
- Outliers in TotalLoadValue
---
- Imputation (decide what to do with NaNs)
- Combine Dataset?

### Col Schema

In [36]:
from numpy import dtype
COLS = {'Year': dtype('float64'),
 'Month': dtype('float64'),
 'Day': dtype('float64'),
 'DateTime': dtype('<M8[ns]'),
 'ResolutionCode': dtype('O'),
 'areacode': dtype('O'),
 'AreaTypeCode': dtype('O'),
 'AreaName': dtype('O'),
 'MapCode': dtype('O'),
 'TotalLoadValue': dtype('float64'),
 'UpdateTime': dtype('<M8[ns]')}

## Check Colnames

In [40]:
def check_colnames(df):
    colnames = set(COLS.keys())
    return set(df.columns).issubset(colnames) and set(df.columns).issuperset(colnames)

check_colnames(df)

True

## Check Coltypes

In [41]:
def check_coltypes(df):
    return all([df[i].dtype == COLS[i] for i in COLS.keys()])

check_coltypes(df)

True

## YMD Check

In [45]:
def check_ymd(df):
    return all(df.apply(lambda row: 
    (row['DateTime'].year == row['Year']) and
    (row['DateTime'].month == row['Month']) and
    (row['DateTime'].day == row['Day']), axis=1))

check_ymd(df)

True

In [49]:
np.random.choice(os.listdir(TRAIN_DATA_PATH), 10, replace=False)

array(['2020_3_ActualTotalLoad.xlsx', '2019_8_ActualTotalLoad.xlsx',
       '2017_4_ActualTotalLoad.xlsx', '2018_3_ActualTotalLoad.xlsx',
       '2021_06_ActualTotalLoad_6.1.A.xlsx',
       '2018_8_ActualTotalLoad.xlsx', '2015_1_ActualTotalLoad.xlsx',
       '2015_12_ActualTotalLoad.xlsx',
       '2020_01_ActualTotalLoad_6.1.A.xlsx',
       '2020_08_ActualTotalLoad_6.1.A.xlsx'], dtype='<U34')

In [52]:
TRAIN_DATA_PATH.joinpath('2015_12_ActualTotalLoad.xlsx').suffix

'.xlsx'

In [61]:
from tqdm import tqdm
class DQCheck:
    def __init__(self, func_map, n=False):
        self.n_files = n
        self.func_map = func_map

    def run_checks(self):
        file_dir = os.listdir(TRAIN_DATA_PATH)
        if self.n_files:
            self.files = np.random.choice(file_dir, self.n_files, replace=False)
        else:
            self.files = file_dir
        
        results = []

        for filename in tqdm(self.files):
            print(filename)
            res = {"file": filename}
            try:
                file_path = TRAIN_DATA_PATH.joinpath(filename)
                fdf = self.read_file(path=file_path)
            except: continue
            
            for test_func in self.func_map:
                func = self.func_map[test_func]['func']
                args = self.func_map[test_func]['args'] 
                res[test_func] = func(fdf, **args)

            results.append(res)

        return pd.DataFrame(results)
        
    def read_file(self, path:str) -> pd.DataFrame:
        if path.suffix == '.xlsx':
            xl_file = pd.ExcelFile(path)
            df = xl_file.parse(path.stem + '.csv')
        
        return df

func_map = {
    "Column Names": {
        "func": check_colnames,
        "args": {} 
    },
    "Column Types": {
        "func": check_coltypes,
        "args": {} 
    },
    "Year Month Day": {
        "func": check_ymd,
        "args": {} 
    }
}

dqc = DQCheck(n=15, func_map=func_map)
dqc.run_checks()

  0%|          | 0/15 [00:00<?, ?it/s]

2018_6_ActualTotalLoad.xlsx

  7%|â–‹         | 1/15 [00:44<10:25, 44.68s/it]

2016_11_ActualTotalLoad.xlsx

 13%|â–ˆâ–Ž        | 2/15 [01:29<09:44, 44.94s/it]

2019_12_ActualTotalLoad.xlsx

 20%|â–ˆâ–ˆ        | 3/15 [02:16<09:08, 45.70s/it]

2020_5_ActualTotalLoad.xlsx

 27%|â–ˆâ–ˆâ–‹       | 4/15 [03:06<08:42, 47.54s/it]

2020_07_ActualTotalLoad_6.1.A.xlsx

 33%|â–ˆâ–ˆâ–ˆâ–Ž      | 5/15 [03:14<05:31, 33.18s/it]

2021_06_ActualTotalLoad_6.1.A.xlsx

 40%|â–ˆâ–ˆâ–ˆâ–ˆ      | 6/15 [03:14<03:18, 22.01s/it]

2015_4_ActualTotalLoad.xlsx

 47%|â–ˆâ–ˆâ–ˆâ–ˆâ–‹     | 7/15 [04:03<04:04, 30.59s/it]

2020_01_ActualTotalLoad_6.1.A.xlsx

 53%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž    | 8/15 [04:11<02:44, 23.54s/it]

2018_1_ActualTotalLoad.xlsx

 60%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ    | 9/15 [05:00<03:08, 31.49s/it]

2015_2_ActualTotalLoad.xlsx

 67%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹   | 10/15 [05:44<02:56, 35.35s/it]

2021_05_ActualTotalLoad_6.1.A.xlsx

 73%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž  | 11/15 [05:52<01:48, 27.11s/it]

2016_6_ActualTotalLoad.xlsx

 80%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 12/15 [06:37<01:37, 32.47s/it]

2016_4_ActualTotalLoad.xlsx

 87%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹ | 13/15 [07:23<01:12, 36.46s/it]

2019_8_ActualTotalLoad.xlsx

 93%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž| 14/15 [08:13<00:40, 40.74s/it]

2021_03_ActualTotalLoad_6.1.A.xlsx

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 15/15 [08:22<00:00, 33.48s/it]

                           file  Column Names  Column Types  Year Month Day
0   2018_6_ActualTotalLoad.xlsx          True          True            True
1  2016_11_ActualTotalLoad.xlsx          True          True            True
2  2019_12_ActualTotalLoad.xlsx          True          True            True
3   2020_5_ActualTotalLoad.xlsx          True          True            True
4   2015_4_ActualTotalLoad.xlsx          True          True            True
5   2018_1_ActualTotalLoad.xlsx          True          True            True
6   2015_2_ActualTotalLoad.xlsx          True          True            True
7   2016_6_ActualTotalLoad.xlsx          True          True            True
8   2016_4_ActualTotalLoad.xlsx          True          True            True
9   2019_8_ActualTotalLoad.xlsx          True          True            True

## NaNs

In [ ]:
# # drop columns with less than 5 NaN values
# df.dropna(axis=1, thresh=5)

# # replace all na values with -9999
# df.fillna(-9999)

# # fill missing values with mean column values
# df.fillna(df.mean())

# # replace na values of specific columns with mean value
# df["sepal_length"].fillna(df["sepal_length"].mean())